* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #00d2ff;
  	/* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  	/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/* Frame 1 */
#frame1 {
  width: 650px;
  height: 345px;
  background-color: #f3f3f3;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);
}

.heading {
  text-align: center;
  padding: 10px 10px;
  font-size: 40px;
  margin: 0px 50px 20px 50px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 2.5px;
}

#loan-form {
  margin-bottom: 21px;
}

.errorMessage {
  width: 80%;
  margin: 0 auto;
}

.icon {
  padding-top: 15px;
  background: #02aef0;
  color: #fff;
  min-width: 30px;
  text-align: center;
  max-height: 45px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.input {
  height: 45px;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
  letter-spacing: 1.3px;
}

.btn {
  display: block;
  background-color: #02aef0;
  width: 80%;
  border: none;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.2rem;
}

.btn:active,
.btn:focus {
  outline: 0 !important; 
  box-shadow: none;
}

.btn:hover {
  background-color: #0071BA;
}

/* Frame 2 */
#frame2 {
  display: none;
  width: 650px;
  height: 305px;
  background-color: #f3f3f3;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);
}

.results {
  width: 100%;
  height: 45px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #02aef0;
  color: #fff;
  padding: 10px;
}

.result-tabs {
  float: left;
  width: 40%;
  padding-right: 10px;
  padding-left: 15px;
  border-right: 1px solid #fff;
  letter-spacing: 1.3px;
}

.result-number {
  float: left;
  width: 30%;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1.3px;
}
